#black{
    -fx-background-color: #4c4747;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#orange{
    -fx-background-color: #f8ae1b;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#blau{
    -fx-background-color: #0562ac;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#rest{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}